@page "/"
@inherits IndexBase
@attribute [Authorize]

<PageTitle>Weather Forecast</PageTitle>


@if (!WeatherForecasts.Any() && SelectedWeatherForecast == null)
{
    <span>Loading...</span>
}
else
{
    <div class="d-block" style="float: right; margin-top: 30px;">
        <SettingsMenu />
    </div>

    <div class="row m-3" style="min-height: 300px;">

        <div class="col text-center">
            <img src="images/@(SelectedWeatherForecast!.WeatherType).svg" alt="@SelectedWeatherForecast!.WeatherType" 
                 style="max-height:275px; max-width: 275px;" />
        </div>
            
        <div class="col-md-8 col-sm-8 col-xs-12 text-primary p-3">
            <h2>@SelectedWeatherForecast.Date.ToString("D")</h2>

            <h3>@SelectedWeatherForecast.WeatherType</h3>
            
            <div class="mt-3 align-middle">
                <img src="images/Thermometer.svg" alt="thermometer" width="25" height="25" />
                <TemperatureDisplay Temperature="@SelectedWeatherForecast.MaximumTemperature" /> / <TemperatureDisplay Temperature="@SelectedWeatherForecast.MinimumTemperature" />
            </div>
            <div class="mt-3 align-middle">
                <img src="images/Raindrop.svg" alt="raindrop" width="25" height="25" />
                @(SelectedWeatherForecast.NumberOfMillimetresRain)mm / @(SelectedWeatherForecast.PercentageOfChanceOfRain)%
            </div>
            <div class="mt-3 align-middle">
                <img src="images/Wind.svg" alt="wind" width="25" height="25" />
                @SelectedWeatherForecast.WindDirection@SelectedWeatherForecast.WindStrength
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="list-group list-group-horizontal">
            @foreach (var weatherForecast in WeatherForecasts)
            {
                <li class="list-group-item list-group-item-action flex-column align-items-center text-center @(weatherForecast.Date == SelectedWeatherForecast.Date ? "" : "active")"
                    @onclick="@(async () => await SelectWeatherForecastAsync(weatherForecast.Date))" style="cursor: pointer;">
                    
                    <p style="font-size:1.25rem;"><strong>@weatherForecast.Date.ToString("ddd")</strong></p>
                    <p>@weatherForecast.Date.ToString("d MMM")</p>
                    
                    <img src="images/@(weatherForecast.WeatherType).svg" height="50" width="50" alt="@weatherForecast.WeatherType" />

                    <p class="mt-3"><TemperatureDisplay Temperature="@weatherForecast.MaximumTemperature" /></p>
                </li>
            }
        </ul>
    </div>
}
