@page "/"
@using WeatherForecastSample.Shared.Models

<PageTitle>Weather Forecast</PageTitle>


<div class="row">
    <div class="col-12">
        <h1>12 Februari 2021</h1>

    </div>
</div>

<div class="row">
    <WeatherTypeImage WeatherType="@WeatherType.Cloudy" Size="50" />
    <WeatherTypeImage WeatherType="@WeatherType.Rainy" Size="50" />
    <WeatherTypeImage WeatherType="@WeatherType.Snowy" Size="50" />
    <WeatherTypeImage WeatherType="@WeatherType.Stormy" Size="50" />
    <WeatherTypeImage WeatherType="@WeatherType.Sunny" Size="50" />
</div>